@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --midnight: #00132B;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--midnight);
}

.menu-btn {
  div {
    @apply transition-all duration-300
  }
}

.menu-btn.active {
  gap: 0;
  transform: translateX(4px);
}

.menu-btn.active > div:nth-child(1) {
  transform: rotate(45deg) translateY(4px);
}

.menu-btn.active>div:nth-child(2) {
  opacity: 0;
  position: absolute;
}

.menu-btn.active>div:nth-child(3) {
  width: 2.25rem;
  transform: rotate(-45deg) translateY(-4px);
}

#nav-sm.open {
  @apply h-[12.5rem] opacity-100
}

.nav.active {
  @apply font-semibold border-b-[0.25rem] border-b-aqua hover:before:w-0
}

.nav-sm.active {
  @apply font-semibold text-aqua hover:translate-x-0
}

.input-base {
  @apply py-2 px-4 rounded border-2 outline-none text-midnight
}

.input {
  @apply input-base min-w-0
}

.input.outlined {
  @apply border-midnight bg-transparent text-midnight
}

.input.accent.outlined {
  @apply border-aqua bg-transparent text-aqua
}

.input.error {
  @apply border-red-600 text-red-600 bg-red-100 placeholder:text-red-300
}


.btn-base {
  @apply py-2 px-4 rounded overflow-clip transition-all duration-300 z-10 font-medium border-2 relative
  before:content-[''] before:absolute before:w-[130%] before:h-full before:top-0 before:-right-5 before:translate-x-full before:skew-x-[20deg] before:-z-[1] before:transition-all before:duration-300;
}

.btn,
.btn-primary {
  @apply btn-base bg-midnight text-white border-midnight
  hover:text-midnight hover:border-aqua hover:before:translate-x-0
  before:bg-aqua
}

.btn-accent {
  @apply btn-base bg-aqua text-midnight border-aqua
  hover:text-aqua hover:border-midnight hover:before:translate-x-0
  before:bg-midnight
}


.btn.outlined,
.btn-outlined,
.btn-primary.outlined
.btn-primary-outlined {
  @apply btn-base bg-transparent border-midnight text-midnight
  hover:before:translate-x-0
  before:bg-midnight/10
}

.btn-accent.outlined,
.btn-accent-outlined {
  @apply btn-base bg-transparent border-aqua text-aqua
  hover:before:translate-x-0
  before:bg-aqua/20
}

.btn.fluid {
  @apply w-full
}

.hero-board__text {
  @apply transition-all text-white text-3xl whitespace-nowrap font-medium absolute bottom-0 left-0 z-20
}

.hero-board__text.normal {
  writing-mode: horizontal-tb;
  transform: translateX(1.8rem) translateY(-5rem);
}

.hero-board__text.rotated {
  writing-mode:sideways-lr;
  transform: translateX(1.8rem) translateY(-1.8rem);
}

.hero-board__text-small {
 @apply text-white absolute text-xl transition-all duration-500 bottom-[3rem] left-0 whitespace-nowrap z-20
}

.hero-board__text-small.normal {
  @apply block opacity-100 translate-x-[1.8rem]
}

.hero-board__text-small.rotated {
  @apply opacity-0 translate-x-full
}

.hero-board-img {
  @apply w-full h-full object-cover
}
