<div class="relative h-80">
  <div class="text-white absolute z-30 h-full left-0 top-0 flex gap-1 flex-col justify-center px-5 lg:px-10">
    <h1>
      <span class="text-3xl leading-[2.5rem] md:text-4xl font-semibold md:leading-[3rem] md:block lg:whitespace-nowrap">
        Got any questions? <br> Talk to us. <br>We Listen.
      </span>
    </h1>
    <p class="text-sm text-pretty md:text-base">Ofriend remains dedicated to providing <br> the perfect customer service.</p>
  </div>

  <div class="z-20 h-full absolute w-full top-0 left-0 bg-midnight/50 md:bg-transparent md:bg-gradient-to-r from-midnight from-10% via-aqua/40 to-transparent"></div>
  <div class="h-full absolute top-0 left-0 w-full bg-slate-200 overflow-hidden">
    <img src="/assets/images/cc.png" alt="customer service" class="w-full h-full object-cover object-top">
  </div>
</div>