<div class="grid gap-5 md:grid-cols-2 md:gap-5 md:px-10 lg:px-20 xl:px-28">
  <div>
    <div>
      <h1 class="text-lg font-semibold text-center">CONTACT</h1>
      <div class="w-28 mt-1 mx-auto grid grid-cols-2 gap-1">
        <div class="h-1 rounded-sm bg-aqua"></div>
        <div class="h-1 rounded-sm bg-midnight"></div>
      </div>
    </div>
    

    <div class="mt-5 grid gap-3 md:col-span-2">
    
      <div class="flex items-start gap-3">
        <div class="w-12 flex-shrink-0 aspect-square bg-midnight rounded-full text-aqua grid place-content-center">
          <span class="pi pi-envelope" style="font-size: 1.3rem; font-weight: 300;"></span>
        </div>
        <div>
          <a href="mailto:contact@ofriend.io" class="font-bold hover:text-aqua hover:underline">Email: contact@ofriend.io</a>
          <p class="text-sm lg:max-w-[28rem]">
            Email us anytime. We try our best to respond as soon as possible, typically within 30 minuutes.
          </p>
        </div>
      </div>
    
      <div class="flex items-start gap-3">
        <div class="w-12 flex-shrink-0 aspect-square bg-midnight rounded-full text-aqua grid place-content-center">
          <span class="pi pi-phone" style="font-size: 1.3rem; font-weight: 300;"></span>
        </div>
        <div>
          <a href="tel:+2348163620562" class="font-bold hover:text-aqua hover:underline">Phone: +2348163620562</a>
          <p class="text-sm lg:max-w-[28rem]">
            Calling hours are between 8 a.m. and 9 p.m, Monday to Saturday.
          </p>
        </div>
      </div>
    
      <div class="flex items-start gap-3">
        <div class="w-12 flex-shrink-0 aspect-square bg-midnight rounded-full text-aqua grid place-content-center">
          <span class="pi pi-whatsapp" style="font-size: 1.3rem; font-weight: 300;"></span>
        </div>
        <div>
          <a href="https://wa.me/2348163620562?text=Hello,%20I%20would%20like%20to%20join%20the%20Ofriend%20Community." class="font-bold hover:text-aqua hover:underline">Whatsapp: +2348163620562</a>
          <p class="text-sm lg:max-w-[28rem]">
            Reach us through Whatsapp at any time; we're available 24/7.
          </p>
        </div>
      </div>   
    </div>
  </div>

  <div>
    <div>
      <h1 class="text-lg font-semibold text-center">SOCIALS</h1>
      <div class="w-28 mt-1 mx-auto grid grid-cols-2 gap-1">
        <div class="h-1 rounded-sm bg-aqua"></div>
        <div class="h-1 rounded-sm bg-midnight"></div>
      </div>
    </div>

    <div class="mt-5 flex gap-4 items-center justify-center">
      <!-- Facebook -->
      <a target="_blank" href="https://www.facebook.com/share/e7oQLgPZ3FvQGLok/?mibextid=qi2Omg">
        <svg viewBox="0 0 128 128" width="45" height="45">
          <rect fill="#3d5a98" x="4.83" y="4.83" width="118.35" height="118.35" rx="6.53" ry="6.53" />
          <path fill="#fff"
            d="M86.48 123.17V77.34h15.38l2.3-17.86H86.48v-11.4c0-5.17 1.44-8.7 8.85-8.7h9.46v-16A126.56 126.56 0 0091 22.7c-13.62 0-23 8.3-23 23.61v13.17H52.62v17.86H68v45.83z" />
        </svg>
      </a>
      <!-- Linked in -->
      <a target="_blank" href="https://www.linkedin.com/company/ofriend/">
        <svg viewBox="0 0 128 128" width="45" height="45">
          <path fill="#0076b2"
            d="M116 3H12a8.91 8.91 0 00-9 8.8v104.42a8.91 8.91 0 009 8.78h104a8.93 8.93 0 009-8.81V11.77A8.93 8.93 0 00116 3z" />
          <path fill="#fff"
            d="M21.06 48.73h18.11V107H21.06zm9.06-29a10.5 10.5 0 11-10.5 10.49 10.5 10.5 0 0110.5-10.49M50.53 48.73h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75v32H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53z" />
        </svg>
      </a>
      <!-- Instagram -->
      <a target="_blank" href="https://www.instagram.com/ofriendedu?igsh=bmhwdm96OXYxMm9j">
        <svg viewBox="0 0 512 512" fill="#000000" width="43.5" height="43.5">
          <rect width="512" height="512" rx="15%" id="b"></rect>
          <use fill="url(#a)" xlink:href="#b"></use>
          <use fill="url(#c)" xlink:href="#b"></use>
          <radialGradient id="a" cx=".4" cy="1" r="1">
            <stop offset=".1" stop-color="#fd5"></stop>
            <stop offset=".5" stop-color="#ff543e"></stop>
            <stop offset="1" stop-color="#c837ab"></stop>
          </radialGradient>
          <linearGradient id="c" x2=".2" y2="1">
            <stop offset=".1" stop-color="#3771c8"></stop>
            <stop offset=".5" stop-color="#60f" stop-opacity="0"></stop>
          </linearGradient>
          <g fill="none" stroke="#ffffff" stroke-width="30">
            <rect width="308" height="308" x="102" y="102" rx="81"></rect>
            <circle cx="256" cy="256" r="72"></circle>
            <circle cx="347" cy="165" r="6"></circle>
          </g>
        </svg>
      </a>
      <!-- X -->
      <a target="_blank" href="https://x.com/ofriendedu?t=y5KmbBuU1vk8cls2-XYPxw&s=09">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50.5" height="50.5"  viewBox="0 0 50.5 50.5">
          <path
            d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z">
          </path>
        </svg>
      </a>
    </div>
  </div>
</div>