<div class="w-full">
  <h1 class="font-semibold text-4xl leading-[2.75rem] text-pretty md:text-balance">
    Ofriend 6-Week Virtual Training.
  </h1>
  <p class="uppercase">In collaboration with <span class="font-semibold text-aqua">COURSE COMPASS</span>.</p>
  
  <div class="mt-5 max-h-[32rem] rounded-xl overflow-hidden">
    <img src="/assets/images/virtual-training.jpg" alt="Virtual training" class="w-full h-full object-cover">
  </div>
  <p class="mt-2">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A non veniam placeat, fuga recusandae quae amet adipisci
    voluptatem. Repellendus quaerat quidem dignissimos totam ut quos distinctio cum voluptatem ab inventore!
  </p>
</div>