<div class="w-full h-1 bg-midnight"></div>
<nav class="p-4">
  <h3 class="font-medium text-aqua text-xl">Contents</h3>

  <div class="mt-3 grid gap-2">
    <a href="#training-overview"
      class="training-link block border-b p-1 font-medium hover:text-aqua hover:border-b-midnight">Overview</a>

    <a href="#training-duration"
      class="training-link block border-b p-1 font-medium hover:text-aqua hover:border-b-midnight">Duration</a>

    <a href="#training-certification"
      class="training-link block border-b p-1 font-medium hover:text-aqua hover:border-b-midnight">Certification</a>

    <a href="#training-documents"
      class="training-link block border-b p-1 font-medium hover:text-aqua hover:border-b-midnight">Documents</a>

    <a href="#training-pricing"
      class="training-link block border-b p-1 font-medium hover:text-aqua hover:border-b-midnight">Pricing</a>

    <a href="#training-discount"
      class="training-link block border-b p-1 font-medium hover:text-aqua hover:border-b-midnight">Discount</a>

    <a href="/bootcamp/virtual-training/register"
      class="training-link block border-b p-1 font-medium text-aqua hover:border-b-aqua">Register</a>

  </div>
</nav>