<div class="w-full grid md:grid-cols-3">

  <div class="col-span-2">
    <h1 class="font-semibold text-4xl leading-[2.75rem] text-pretty md:text-balance">
      Ofriend 6-Week Virtual Training.
    </h1>
    <p class="uppercase">In collaboration with <span class="font-semibold text-aqua">COURSE COMPASS</span>.</p>

    <div class="mt-5">
      <%- include("../icons/training-svg") %>
    </div>
  </div>

  <div>

  </div>

</div>