<div class="w-full grid gap-5">
  <div id="training-overview">
    <h1 class="font-semibold text-2xl leading-[2.75rem] text-pretty md:text-balance">
      Overview.
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis sit asperiores? Eaque voluptatem beatae error odio ducimus. Dolorum totam blanditiis velit et quas ipsum laboriosam vel quasi eveniet distinctio?
      Illo possimus est, dolore vel voluptatem facere eligendi, tenetur iusto doloremque, vero quasi similique nulla! Esse ea facilis voluptatum voluptas, non, ut at officiis aspernatur quidem ex quo quod delectus!
      Neque ipsum nesciunt dolore sit ipsa nulla, corrupti aliquid amet nobis hic labore necessitatibus expedita ad consequatur fugit dignissimos error ducimus nisi saepe esse a. Dolore quibusdam laboriosam praesentium rerum!
    </p>
  </div>

  <div id="training-duration">
    <h1 class="font-semibold text-2xl leading-[2.75rem] text-pretty md:text-balance">
      Duration.
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis sit asperiores? Eaque voluptatem
      beatae error odio ducimus. Dolorum totam blanditiis velit et quas ipsum laboriosam vel quasi eveniet distinctio?
    </p>
  </div>

  <div id="training-certification">
    <h1 class="font-semibold text-2xl leading-[2.75rem] text-pretty md:text-balance">
      Certification.
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis sit asperiores? Eaque voluptatem
      beatae error odio ducimus. Dolorum totam blanditiis velit et quas ipsum laboriosam vel quasi eveniet distinctio?
      Illo possimus est, dolore vel voluptatem facere eligendi, tenetur iusto doloremque, vero quasi similique nulla! Esse
      ea facilis voluptatum voluptas, non, ut at officiis aspernatur quidem ex quo quod delectus!
    </p>
  </div>

  <div id="training-documents">
    <h1 class="font-semibold text-2xl leading-[2.75rem] text-pretty md:text-balance">
      Documents.
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis sit asperiores? Eaque voluptatem
      beatae error odio ducimus. Dolorum totam blanditiis velit et quas ipsum laboriosam vel quasi eveniet distinctio?
      Illo possimus est, dolore vel voluptatem facere eligendi, tenetur iusto doloremque, vero quasi similique nulla! Esse
      ea facilis voluptatum voluptas, non, ut at officiis aspernatur quidem ex quo quod delectus!
    </p>
  </div>

  <div id="training-pricing">
    <h1 class="font-semibold text-2xl leading-[2.75rem] text-pretty md:text-balance">
      Pricing.
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis sit asperiores? Eaque voluptatem
      beatae error odio ducimus. Dolorum totam blanditiis velit et quas ipsum laboriosam vel quasi eveniet distinctio?
      Illo possimus est, dolore vel voluptatem facere eligendi, tenetur iusto doloremque, vero quasi similique nulla! Esse
      ea facilis voluptatum voluptas, non, ut at officiis aspernatur quidem ex quo quod delectus!
    </p>
  </div>

  <div id="training-discount">
    <h1 class="font-semibold text-2xl leading-[2.75rem] text-pretty md:text-balance">
      Discount.
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis sit asperiores? Eaque voluptatem
      beatae error odio ducimus. Dolorum totam blanditiis velit et quas ipsum laboriosam vel quasi eveniet distinctio?
      Illo possimus est, dolore vel voluptatem facere eligendi, tenetur iusto doloremque, vero quasi similique nulla! Esse
      ea facilis voluptatum voluptas, non, ut at officiis aspernatur quidem ex quo quod delectus!
    </p>
  </div>


  <div class="mt-5 flex items-center gap-2 flex-wrap">
    <a href="/bootcamp/virtual-training/register">
      <button type="button" class="btn flex items-center justify-center gap-3">
        <span class="pi pi-pencil"></span>
        <span>Register now</span>
      </button>
    </a>
  
    <a href="/contact">
      <button type="button" class="btn outlined">More information</button>
    </a>
  </div>

</div>

