<!DOCTYPE html>
<html lang="en">
  <%-
    include('../partials/_head', {
      title: 'Ofriend - About',
      head: null
    })
  %>
  <body> 
    <%- include('../partials/_loader') %>
    <%- include('../partials/_header') %>
    <main>
      <section class="bg-gradient-to-b from-aqua-100/80 to-white py-5 px-5 lg:px-10">
        404
      </section>

      <%- include('../partials/_footer') %>
    </main>
    <script src="/scripts/pages/index.js"></script>
  </body>
</html>