<div class="lg:grid lg:grid-cols-3 lg:gap-5 xl:grid-cols-7">
  <!-- h-[70dvh] md:h-[60dvh] -->
  <div class="rounded-lg p-5 min-h-[30rem] md:min-h-[28rem] relative overflow-clip lg:overflow-visible lg:col-span-1 lg:h-full xl:col-span-2">

    <div class="md:w-1/2 flex flex-col gap-5 z-20 p-5 top-0 left-0 absolute h-full justify-center lg:p-0 lg:w-full lg:h-full lg:flex lg:justify-center lg:flex-col">
      <h1 class="text-white lg:text-midnight">    
        <span class="text-4xl font-semibold leading-[2.75rem] md:block lg:whitespace-nowrap">
          Why go solo <br> when learning <br>is better together?
        </span>
      </h1>
      
      <p class="text-white font-medium lg:text-midnight leading-[1.8rem]">
        <span class="md:hidden whitespace-nowrap lg:whitespace-normal">Connect with like minds!</span>
        <span class="hidden md:inline">Connecting with like minds <br class="hidden lg:inline xl:hidden">has never been easier!</span>
         <br>
        <span class="whitespace-nowrap lg:whitespace-normal">Say hello to a new era of studying.</span>
      </p>

      <div class="flex items-center gap-2 flex-wrap">
        <a href="#waitlist-form" class="w-full md:w-2/3 lg:w-full lg:hidden">
          <button type="button" class="btn-accent w-full">Join Ofriend</button>
        </a>

        <a href="/bootcamp#featured-courses" class="w-full md:w-2/3 lg:w-full lg:hidden">
          <button type="button" class="btn-accent-outlined w-full">View Courses</button>
        </a>

        <a href="#waitlist-form" class="w-full md:w-2/3 lg:w-full hidden lg:block">
          <button type="button" class="btn w-full">Join Ofriend</button>
        </a>
        
        <a href="/bootcamp#featured-courses" class="w-full md:w-2/3 lg:w-full hidden lg:block">
          <button type="button" class="btn-outlined w-full">View Courses</button>
        </a>
      </div>
    </div>

    <div class="h-full w-full absolute right-0 top-0 z-[5] lg:hidden overflow-hidden">
      <div class="absolute bg-midnight/50 md:bg-gradient-to-r from-midnight from-10% via-aqua/40 to-transparent w-full h-full"></div>
      <img src="/assets/images/students-1.jpg" alt="Happy black students studying" class="h-full w-full object-cover">
    </div>
  </div>

  <div class="hidden h-[70dvh] lg:flex lg:gap-4 lg:col-span-2 xl:col-span-5">
    <div class="hero-board overflow-clip bg-slate-300 rounded-lg relative w-[15%] xl:w-[12%] flex-grow transition-all duration-500">
      <p class="hero-board__text normal">UI/UX Design</p>
      <p class="hero-board__text-small normal">Complete with Figma.</p>

      <div class="absolute w-full h-full top-0 left-0 bg-gradient-to-t from-midnight via-aqua/50 to-transparent to-50%"></div>
      <img src="/assets/images/students-1.jpg" alt="UI/UX Design" class="hero-board-img">
    </div>

    <div class="hero-board overflow-clip bg-midnight rounded-lg relative w-[15%] xl:w-[12%] transition-all duration-500">
      <p class="hero-board__text rotated">Front-End Development</p>
      <p class="hero-board__text-small rotated">HTML, CSS, & JavaScript</p>

      <div class="absolute w-full h-full top-0 left-0 bg-gradient-to-t from-midnight via-aqua/50 to-transparent to-50%"></div>
      <img src="/assets/images/students-3.jpg" alt="UI/UX Design" class="hero-board-img">
    </div>

    <div class="hero-board overflow-clip bg-midnight rounded-lg relative w-[15%] xl:w-[12%] transition-all duration-500">
      <p class="hero-board__text rotated">Back-end Development</p>
      <p class="hero-board__text-small rotated">NodeJs, ExpressJs, & MongoDB</p>

      <div class="absolute w-full h-full top-0 left-0 bg-gradient-to-t from-midnight via-aqua/50 to-transparent to-50%"></div>
      <img src="/assets/images/students-2.png" alt="UI/UX Design" class="hero-board-img">
    </div>

  </div>
</div>

<div class="w-full mt-10">
  <h2 class="text-center text-2xl font-semibold lg:hidden">Unlimited access to 5000+ learnig materials.</h2>

  <div class="mt-5 flex items-center justify-center lg:mt-0">

    <div class="w-full p-4 text-white grid gap-2 custom:grid-cols-3 custom:items-center custom:gap-4 md:flex md:bg-midnight md:w-fit">

      <div class="bg-midnight p-4 flex flex-col items-center md:gap-2 md:flex-row md:p-0 md:bg-none">
        <p class="text-2xl font-semibold md:text-4xl md:font-medium">10,000+</p>
        <p class="text-sm md:text-base">STUDENTS </p>
      </div>

      <div class="w-0.5 h-8 bg-aqua hidden md:block"></div>

      <div class="bg-midnight p-4 flex flex-col items-center md:gap-2 md:flex-row md:p-0 md:bg-none">
        <p class="text-2xl font-semibold md:text-4xl md:font-medium">80+</p>
        <p class="text-sm md:text-base">INSTRUCTORS </p>
      </div>

      <div class="w-0.5 h-8 bg-aqua hidden md:block"></div>
      
      <div class="bg-midnight p-4 flex flex-col items-center md:gap-2 md:flex-row md:p-0 md:bg-none">
        <p class="text-2xl font-semibold md:text-4xl md:font-medium">5,000+</p>
        <p class="text-sm md:text-base">MATERIALS </p>
      </div>

    </div>
  </div>
</div>