<div class="mt-5">
  <div class="grid md:grid-cols-2 justify-between">
    <h2 class="text-3xl font-semibold text-balance md:w-[85%] lg:w-[70%]">Get the skills and tools you need to prepare you for the job market.</h2>

    <p class="bg-aqua-200 text-aqua-800 p-4 hidden md:flex items-center text-pretty lg:place-self-end xl:max-w-[30rem]">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum commodi culpa atque impedit delectus corporis dolores odit.
    </p>
  </div>

  <div class="mt-5 flex flex-col gap-5 md:grid md:grid-cols-5 lg:flex lg:flex-row lg:justify-between">

    <div class="md:order-2 md:col-span-3 lg:w-[70%] lg:max-w-[48rem] bg-slate-300 rounded-xl h-60 lg:h-72 relative overflow-clip">
      <div
        class="absolute bg-gradient-to-t from-midnight/90 via-aqua/40 to-transparent w-full h-full">
      </div>
      <img src="/assets/images/students-4.jpg" alt="Happy black students studying" class="h-full w-full object-cover lg:object-top">
    </div>

    <div class="grid gap-3 md:col-span-2 md:order-1">

      <div class="flex items-start gap-3">
        <div class="w-12 flex-shrink-0 aspect-square bg-midnight rounded-full text-aqua grid place-content-center">
          <%- include('../icons/hard-skills') %>
        </div>

        <div>
          <h4 class="font-bold text-lg md:text-base lg:text-lg">Hard Skills</h4>
          <p class="md:text-sm lg:text-base">UI/UX, Web development, Data Analytics and many more.</p>
        </div>
      </div>


      <div class="flex items-start gap-3">
        <div class="w-12 flex-shrink-0 aspect-square bg-midnight rounded-full text-aqua grid place-content-center">
          <%- include('../icons/soft-skills') %>
        </div>
      
        <div>
          <h4 class="font-bold text-lg md:text-base lg:text-lg">Soft Skills</h4>
          <p class="md:text-sm lg:text-base">Leadership, responsibility, flexibility.</p>
        </div>
      </div>


      <div class="flex items-start gap-3">
        <div class="w-12 flex-shrink-0 aspect-square bg-midnight rounded-full text-aqua grid place-content-center">
          <%- include('../icons/cert') %>
        </div>
      
        <div>
          <h4 class="font-bold text-lg md:text-base lg:text-lg">Certification</h4>
          <p class="md:text-sm lg:text-base">Valued certification fron NextAfrica.</p>
        </div>
      </div>

    </div>
  </div>
  
</div>


  