<div>
  <h2 class="text-center text-3xl text-midnight font-semibold">What our students are saying.</h2>

  <div class="mt-5 grid gap-5 lg:grid-cols-2 xl:grid-cols-3">

    <div
      class="group border-y border-r rounded-md overflow-hidden flex fleex-wrap cursor-context-menu bg-white transition-all duration-300 lg:hover:bg-midnight lg:hover:-translate-y-5 lg:hover:shadow">
      <div class="bg-aqua lg:bg-slate-300 w-2 flex-shrink-0 lg:group-hover:bg-aqua transition-colors duration-300"></div>
    
      <div class="flex items-center gap-5 px-4 pt-2 pb-4">
        <div class="w-20 flex-shrink-0 aspect-square rounded-full bg-slate-200 lg:group-hover:bg-transparent overflow-hidden">
          <img src="/assets/images/student-1.png" alt="student"
            class="w-full h-full object-cover lg:saturate-0 lg:group-hover:saturate-100 transition-all duration-300">
        </div>
        <div>
          <div class="flex items-center gap-3 justify-between">
            <h3 class="font-semibold text-lg text-slate-800 lg:group-hover:text-aqua transition-colors duration-300">Chike
              Amadi</h3>
    
            <div class="text-midnight lg:text-slate-300 flex-shrink-0 lg:group-hover:text-aqua transition-colors duration-300">
              <%- include('../icons/quotes') %>
            </div>
          </div>
    
          <p class="text-slate-600 lg:text-slate-500 text-sm lg:group-hover:text-white transition-colors duration-300">Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero officia, voluptates omnis, quidem blanditiis quo quae aliquid possimus unde
            voluptatibus laboriosam.</p>
        </div>
      </div>
    </div>
    
    
    <div
      class="group border-y border-r rounded-md overflow-hidden flex cursor-context-menu bg-white transition-all duration-300 lg:hover:bg-midnight lg:hover:-translate-y-5 lg:hover:shadow">
      <div class="bg-aqua lg:bg-slate-300 w-2 flex-shrink-0 lg:group-hover:bg-aqua transition-colors duration-300"></div>
    
      <div class="flex items-center gap-5 px-4 pt-2 pb-4">
        <div class="w-20 flex-shrink-0 aspect-square rounded-full bg-slate-200 lg:group-hover:bg-transparent overflow-hidden">
          <img src="/assets/images/student-2.png" alt="student"
            class="w-full h-full object-cover lg:saturate-0 lg:group-hover:saturate-100 transition-all duration-300">
        </div>
        <div>
          <div class="flex items-center gap-3 justify-between">
            <h3 class="font-semibold text-lg text-slate-800 lg:group-hover:text-aqua transition-colors duration-300">
              Linda Johnson
            </h3>
    
            <div class="text-midnight lg:text-slate-300 flex-shrink-0 lg:group-hover:text-aqua transition-colors duration-300">
              <%- include('../icons/quotes') %>
            </div>
          </div>
    
          <p class="text-slate-600 lg:text-slate-500 text-sm lg:group-hover:text-white transition-colors duration-300">Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero officia, voluptates omnis, quidem blanditiis quo quae aliquid possimus unde
            voluptatibus laboriosam.</p>
        </div>
      </div>
    </div>
    
    
    <div
      class="group border-y border-r rounded-md overflow-hidden cursor-context-menu bg-white transition-all duration-300 hidden lg:flex lg:hover:bg-midnight lg:hover:-translate-y-5 lg:hover:shadow xl:hidden">
      <div class="bg-aqua lg:bg-slate-300 w-2 flex-shrink-0 lg:group-hover:bg-aqua transition-colors duration-300"></div>
    
      <div class="flex items-center gap-5 px-4 pt-2 pb-4">
        <div class="w-20 flex-shrink-0 aspect-square rounded-full bg-slate-200 lg:group-hover:bg-transparent overflow-hidden">
          <img src="/assets/images/student-3.png" alt="student"
            class="w-full h-full object-cover lg:saturate-0 lg:group-hover:saturate-100 transition-all duration-300">
        </div>
        <div>
          <div class="flex items-center gap-3 justify-between">
            <h3 class="font-semibold text-lg text-slate-800 lg:group-hover:text-aqua transition-colors duration-300">
              Linda Johnson
            </h3>
    
            <div class="text-midnight lg:text-slate-300 flex-shrink-0 lg:group-hover:text-aqua transition-colors duration-300">
              <%- include('../icons/quotes') %>
            </div>
          </div>
    
          <p class="text-slate-600 lg:text-slate-500 text-sm lg:group-hover:text-white transition-colors duration-300">Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero officia, voluptates omnis, quidem blanditiis quo quae aliquid possimus unde
            voluptatibus laboriosam.</p>
        </div>
      </div>
    </div>

    <div
      class="group border-y border-r rounded-md overflow-hidden flex cursor-context-menu bg-white transition-all duration-300 lg:hover:bg-midnight lg:hover:-translate-y-5 lg:hover:shadow">
      <div class="bg-aqua lg:bg-slate-300 w-2 flex-shrink-0 lg:group-hover:bg-aqua transition-colors duration-300"></div>
    
      <div class="flex items-center gap-5 px-4 pt-2 pb-4">
        <div
          class="w-20 flex-shrink-0 aspect-square rounded-full bg-slate-200 lg:group-hover:bg-transparent overflow-hidden">
          <img src="/assets/images/student-3.png" alt="student"
            class="w-full h-full object-cover saturate-0 lg:group-hover:saturate-100 transition-all duration-300">
        </div>
        <div>
          <div class="flex items-center gap-3 justify-between">
            <h3 class="font-semibold text-lg text-slate-800 lg:group-hover:text-aqua transition-colors duration-300">
              Linda Johnson
            </h3>
    
            <div class="text-midnight lg:text-slate-300 flex-shrink-0 lg:group-hover:text-aqua transition-colors duration-300">
              <%- include('../icons/quotes') %>
            </div>
          </div>
    
          <p class="text-slate-600 lg:text-slate-500 text-sm lg:group-hover:text-white transition-colors duration-300">Lorem ipsum dolor sit
            amet
            consectetur adipisicing elit. Libero officia, voluptates omnis, quidem blanditiis quo quae aliquid possimus unde
            voluptatibus laboriosam.</p>
        </div>
      </div>
    </div>
  </div>
</div>