<div>
  <h2 class="text-center text-3xl text-midnight font-semibold">Why choose us?</h2>

  <div class="grid md:grid-cols-3 gap-10 mt-8 md:gap-5 lg:mt-5">

    <div data-aos="fade-up"
      class="bg-purple-200 text-midnight lg:bg-midnight lg:text-white z-10 rounded-2xl p-5 md:px-3 min-h-36 cursor-context-menu relative lg:overflow-clip lg:p-5 lg:before:absolute lg:before:content-[''] before:-z-[1] before:w-full before:h-full before:bg-purple-600 before:rounded-[4rem] before:top-0 before:right-0 before:translate-x-[80%] before:-translate-y-[70%] before:transition-all before:duration-500 before:ease hover:before:translate-x-0 hover:before:-translate-y-0 hover:before:rounded-2xl">
    
      <div
        class="flex flex-col items-center gap-1 justify-center -translate-y-12 lg:-translate-y-0 lg:flex-row lg:justify-normal lg:gap-3">
        <div class="w-16 aspect-square rounded-full lg:w-12">
          <%- include('../icons/e-library') %>
        </div>
        <p class="text-3xl font-semibold lg:text-2xl">E-Learning</p>
      </div>
    
      <p class="text-sm -mt-8 font-medium text-center lg:text-left lg:mt-3 leading-6">
        Focused on providing an interactive e-learning environment where accessibility of unlimited courses and skills is
        championed. Join our vibrant community and grow with other young minds!
      </p>
    </div>
    

    <div data-aos="fade-up" data-aos-delay="100"
      class="bg-green-200 text-midnight lg:bg-midnight lg:text-white z-10 rounded-2xl p-5 md:px-3 min-h-36 cursor-context-menu relative lg:overflow-clip lg:p-5 lg:before:absolute lg:before:content-[''] before:-z-[1] before:w-full before:h-full before:bg-rose-500 before:rounded-[4rem] before:top-0 before:right-0 before:translate-x-[80%] before:-translate-y-[70%] before:transition-all before:duration-500 before:ease hover:before:translate-x-0 hover:before:-translate-y-0 hover:before:rounded-2xl">
    
      <div
        class="flex flex-col items-center gap-1 justify-center -translate-y-12 lg:-translate-y-0 lg:flex-row lg:justify-normal lg:gap-3">
        <div class="w-16 aspect-square rounded-full lg:w-12">
          <%- include('../icons/community') %>
        </div>
        <p class="text-3xl font-semibold lg:text-2xl">Community</p>
      </div>
    
      <p class="text-sm -mt-8 font-medium text-center lg:text-left lg:mt-3 leading-6">
        Connect with Industry experts, mentors, and peers. Access exclusive networking opportunities, events, and resources.
        Find your learning tribe by joining our community of like-minded learners.
      </p>
    </div>


    <div data-aos="fade-up" data-aos-delay="200"
      class="bg-amber-200 text-midnight lg:bg-midnight lg:text-white z-10 rounded-2xl p-5 md:px-3 min-h-36 cursor-context-menu relative lg:overflow-clip lg:p-5 lg:before:absolute lg:before:content-[''] before:-z-[1] before:w-full before:h-full before:bg-green-600 before:rounded-[4rem] before:top-0 before:right-0 before:translate-x-[80%] before:-translate-y-[70%] before:transition-all before:duration-500 before:ease hover:before:translate-x-0 hover:before:-translate-y-0 hover:before:rounded-2xl">
    
      <div
        class="flex flex-col items-center gap-1 justify-center -translate-y-12 lg:-translate-y-0 lg:flex-row lg:justify-normal lg:gap-3">
        <div class="w-16 aspect-square rounded-full lg:w-12 bg-red-400 overflow-clip">
          <%- include('../icons/training') %>
        </div>
        <p class="text-3xl font-semibold lg:text-2xl">Training</p>
      </div>
    
      <p class="text-sm -mt-8 font-medium text-center lg:text-left lg:mt-3 leading-6">
        Transform your career. Upskill and reskill with expert-led training.
        Access curated courses, workshops, and certifications.
        Don't go solo! Let's learn together.
      </p>
    </div>
  </div>
</div>

