<div class="flex flex-col items-center justify-center">
  <h2 class="flex-shrink-0 text-center text-3xl text-midnight font-semibold">
    Register Now.
  </h2>

  <div class="bg-aqua-100/20 flex-shrink-0 mt-4 p-5 lg:p-8 w-full">
    <p class="font-semibold text-red-500">IMPORTANT! </p>
    <p class="mt-2">
      The Ofriend Bootcamp will be done in three stages:
      <ol class="list-decimal list-inside grid mt-2 gap-1">
        <li>
          A <span class="font-semibold">free webinar</span> introducing you to the very basics of the course you are applying for. To be a part of this webinar, you can <a href="https://chat.whatsapp.com/JnSm0v70D0w8BMbG7nyG8R" target="_blank" class="font-medium text-aqua hover:underline">join our community</a>.
        </li>

        <li>
          A <span class="font-semibold">free virtual masterclass</span> which takes these basic concepts a step further and prepares you for the main training. You can register for this masterclass <a href="http://bit.ly/3zsd1NO" target="_blank" class="font-medium text-aqua hover:underline">right here</a>. It's free!
        </li>

        <li>
          A <span class="font-semibold">six-week (6) long virtual training</span> which is the core component of the bootcamp. For more information about this training; including duration, curriculum, pricing,and discounts, please visit the <a href="/bootcamp/virtual-training" class="font-medium text-aqua hover:underline">virtual training page</a>.
        </li>
      </ol>
    </p>
  </div>

  <div class="mt-10 w-full gap-5 flex items-center justify-center flex-wrap">
    <a href="http://bit.ly/3zsd1NO" target="_blank" class="block w-full md:w-fit">
      <button type="button" class="btn-accent large w-full md:w-fit flex items-center justify-center gap-3">
        <span class="pi pi-book"></span>
        <span>Register for the masterclass</span>
      </button>
    </a>

    <a href="https://chat.whatsapp.com/JnSm0v70D0w8BMbG7nyG8R" target="_blank" class="block w-full md:w-fit">
      <button type="button" class="btn-accent large w-full outlined md:w-fit flex items-center justify-center gap-3">
        <span class="pi pi-users"></span>
        <span>Join our community</span>
      </button>
    </a>

    <a href="/bootcamp/virtual-training" class="block w-full md:w-fit">
      <button type="button" class="btn-accent outlined large w-full md:w-fit flex items-center justify-center gap-3">
        <span class="pi pi-graduation-cap"></span>
        <span>Explore our virtual training</span>
      </button>
    </a>
    
  </div>
</div>
