<div class="grid gap-5 md:grid-cols-3 xl:grid-cols-5">

  <div class="mt-2 h-[29rem] md:mt-0 md:order-2 md:col-span-2 lg:h-[68dvh] lg:pr-20 xl:col-span-3">
    <div class="h-full w-full grid md:grid-cols-2 gap-3">
      <div class="rounded-2xl bg-slate-300 overflow-hidden">
        <img src="/assets/images/students-5.jpg" alt="students" class="h-full w-full object-cover">
      </div>
      <div class="hidden md:block rounded-2xl bg-slate-300 row-span-2 overflow-hidden">
        <img src="/assets/images/students-7.png" alt="students" class="h-full w-full object-cover">
      </div>
      <div class="hidden md:block rounded-2xl bg-slate-300 overflow-hidden">
        <img src="/assets/images/students-6.jpg" alt="students" class="h-full w-full object-cover">
      </div>
    </div>
  </div>

  <div class="md:order-1 xl:col-span-2 grid place-content-center">
    <h1 class="font-semibold text-4xl leading-[2.75rem] text-pretty md:text-balance">
      Virtual Training, Certification, and <span class="text-aqua">Bootcamps</span>
    </h1>

    <div class="mt-4 text-sm bg-aqua-200 rounded-xl p-4 md:p-0 md:rounded-none md:bg-transparent md:text-balance lg:text-base">
      <p>
        Ofriend is hosting an 8-week free training in partnership with 
        <span class="font-medium">Course Compass</span>, 
        <span class="font-medium">NABETS</span>, and 
        <span class="font-medium">NxtAfrica</span>.
      </p>

      <p class="font-semibold mt-2">The next cohort won't be free!</p>
    </div>

    <div class="mt-4">
      <a href="#register">
        <button type="button" class="btn">Register Now</button>
      </a>
    </div>
  </div>
</div>