<div>
  <h2 class="text-center text-3xl text-midnight font-semibold">What you get.</h2>

  <div class="mt-6 grid gap-5 lg:grid-cols-3 lg:gap-3 xl:gap-5">
    <div
      class="group border-y border-r rounded-md overflow-hidden flex cursor-context-menu bg-white transition-all duration-300 lg:hover:bg-midnight lg:hover:-translate-y-5 lg:hover:shadow">
      <div class="bg-aqua lg:bg-slate-300 w-2 flex-shrink-0 lg:group-hover:bg-aqua transition-colors duration-300">
      </div>

      <div class="flex items-center gap-5 px-4 pt-2 pb-4 lg:flex-col lg:gap-2 xl:gap-5 xl:flex-row xl:p-5">
        <div
          class="w-20 flex-shrink-0 aspect-square rounded-full bg-aqua-200 lg:bg-slate-200 lg:group-hover:bg-midnight-400/20 overflow-hidden grid place-content-center">
          <span class="pi pi-graduation-cap text-midnight/80 lg:text-slate-400 lg:group-hover:text-aqua" style="font-size: 2rem"></span>
        </div>
        <div>
          <h3 class="font-semibold text-lg text-slate-800 lg:text-center lg:group-hover:text-aqua transition-colors duration-300 xl:text-left">
            Training
          </h3>

          <p class="text-slate-600 lg:text-slate-500 text-sm lg:group-hover:text-white lg:text-center transition-colors duration-300 xl:text-left">
            Unlocking potential through access to quality learning from structured programs and free training materials.
          </p>
        </div>
      </div>
    </div>


    <div
      class="group border-y border-r rounded-md overflow-hidden flex cursor-context-menu bg-white transition-all duration-300 lg:hover:bg-midnight lg:hover:-translate-y-5 lg:hover:shadow">
      <div class="bg-aqua lg:bg-slate-300 w-2 flex-shrink-0 lg:group-hover:bg-aqua transition-colors duration-300">
      </div>
    
      <div class="flex items-center gap-5 px-4 pt-2 pb-4 lg:flex-col lg:gap-2 xl:gap-5 xl:flex-row xl:p-5">
        <div
          class="w-20 flex-shrink-0 aspect-square rounded-full bg-aqua-200 lg:bg-slate-200 lg:group-hover:bg-midnight-400/20 overflow-hidden grid place-content-center">
          <span class="pi pi-trophy text-midnight/80 lg:text-slate-400 lg:group-hover:text-aqua"
            style="font-size: 2rem"></span>
        </div>
        <div>
          <h3
            class="font-semibold text-lg text-slate-800 lg:text-center lg:group-hover:text-aqua transition-colors duration-300 xl:text-left">
            Certification
          </h3>
    
          <p
            class="text-slate-600 lg:text-slate-500 text-sm lg:group-hover:text-white lg:text-center transition-colors duration-300 xl:text-left">
            Industry recognized certification and internship opportunities, preparing students for the workforce.
          </p>
        </div>
      </div>
    </div>


    <div
      class="group border-y border-r rounded-md overflow-hidden flex cursor-context-menu bg-white transition-all duration-300 lg:hover:bg-midnight lg:hover:-translate-y-5 lg:hover:shadow">
      <div class="bg-aqua lg:bg-slate-300 w-2 flex-shrink-0 lg:group-hover:bg-aqua transition-colors duration-300">
      </div>
    
      <div class="flex items-center gap-5 px-4 pt-2 pb-4 lg:flex-col lg:gap-2 xl:gap-5 xl:flex-row xl:p-5">
        <div
          class="w-20 flex-shrink-0 aspect-square rounded-full bg-aqua-200 lg:bg-slate-200 lg:group-hover:bg-midnight-400/20 overflow-hidden grid place-content-center">
          <span class="pi pi-users text-midnight/80 lg:text-slate-400 lg:group-hover:text-aqua"
            style="font-size: 2rem"></span>
        </div>
        <div>
          <h3
            class="font-semibold text-lg text-slate-800 lg:text-center lg:group-hover:text-aqua transition-colors duration-300 xl:text-left">
            Community
          </h3>
    
          <p
            class="text-slate-600 lg:text-slate-500 text-sm lg:group-hover:text-white lg:text-center transition-colors duration-300 xl:text-left">
            A vibrant space opportunity for learners to interact, share experiences, and connect with peers and mentors.
          </p>
        </div>
      </div>
    </div>
    
  </div>
</div>