<section id="countdown" class="w-dvw h-44">

  <div class="w-full h-full relative z-10 p-5 bg-midnight text-white overflow-hidden">
    <h1 class="font-semibold tracking-wide text-center text-sm">OFRIEND LAUNCHES IN</h1>
    
    <div class="flex items-center justify-center gap-2 md:gap-3 mt-2">
    
      <div
        class="bg-blue-500/30 backdrop-blur p-3 md:p-2 min-w-20 md:min-w-24 aspect-square rounded-md text-aqua-400 flex flex-col items-center justify-center gap-1">
        <p id="days" class="text-4xl md:text-5xl">99</p>
        <p class="font-semibold tracking-wide text-center text-[0.6rem] md:text-xs text-white/60">DAYS</p>
      </div>
    
      <div class="text-aqua text-3xl">:</div>
    
      <div
        class="bg-blue-500/30 backdrop-blur p-3 md:p-2 min-w-20 md:min-w-24 aspect-square rounded-md text-aqua-400 flex flex-col items-center justify-center gap-1">
        <p id="hours" class="text-4xl md:text-5xl">99</p>
        <p class="font-semibold tracking-wide text-center text-[0.6rem] md:text-xs text-white/60">HOURS</p>
      </div>
    
      <div class="text-aqua text-3xl">:</div>
    
      <div
        class="bg-blue-500/30 backdrop-blur p-3 md:p-2 min-w-20 md:min-w-24 aspect-square rounded-md text-aqua-400 flex flex-col items-center justify-center gap-1">
        <p id="minutes" class="text-4xl md:text-5xl">99</p>
        <p class="font-semibold tracking-wide text-center text-[0.6rem] md:text-xs text-white/60">MINUTES</p>
      </div>
    
      <div class="text-aqua text-3xl">:</div>
    
      <div
        class="bg-blue-500/30 backdrop-blur p-3 md:p-2 min-w-20 md:min-w-24 aspect-square rounded-md text-aqua-400 flex flex-col items-center justify-center gap-1">
        <p id="seconds" class="text-4xl md:text-5xl">99</p>
        <p class="font-semibold tracking-wide text-center text-[0.6rem] md:text-xs text-white/60">SECONDS</p>
      </div>
    </div>
    
    <p class="mt-2 font-semibold tracking-wide text-center text-sm">ON NOVEMBER 21, 2024</p>
    
    <img src="/assets/images/countdown.jpg" alt="countdown"
      class="w-full h-full object-cover absolute top-0 left-0 -z-[1] object-top">
  </div>
  

</section>