<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="icon" type="image/svg" href="/assets/images/o-logo-light.svg">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/primeicons/primeicons.css">
  <link rel="stylesheet" href="/fontsource/montserrat/index.css">
  <% if (head) { %>
    <%- head %>
  <% } %>
</head>