<header class="h-16 px-5 lg:px-10 sticky top-0 flex items-center justify-between bg-white z-[200]">
  <div class="flex items-center gap-32">
    <a href="/">
      <img src="/assets/images/ofriend-logo.svg" alt="Ofriend logo">
    </a>

    <nav id="nav" class="hidden lg:flex items-center gap-10">
      <a href="/" data-nav-link="0"
        class="relative nav active before:transition-all before:absolute before:content-[''] before:-bottom-0.5 before:h-1 before:w-0 before:bg-aqua hover:before:w-full">
        Home
      </a>

      <a href="/about"  data-nav-link="1"
        class="relative nav before:transition-all before:absolute before:content-[''] before:-bottom-0.5 before:h-1 before:w-0 before:bg-aqua hover:before:w-full">
        About
      </a>

      <a href="/bootcamp"  data-nav-link="2"
        class="relative nav before:transition-all before:absolute before:content-[''] before:-bottom-0.5 before:h-1 before:w-0 before:bg-aqua hover:before:w-full">
        Bootcamp
      </a>

      <a href="/contact"  data-nav-link="3"
        class="relative nav before:transition-all before:absolute before:content-[''] before:-bottom-0.5 before:h-1 before:w-0 before:bg-aqua hover:before:w-full">
        Contact
      </a>
    </nav>
  </div>

  <div class="flex items-center gap-5">
    <a href="#waitlist-form">
      <button type="button" class="btn">Join Ofriend</button>
    </a>

    <div id="menu-btn" class="menu-btn cursor-pointer flex flex-col items-end gap-0.5 lg:hidden">
      <div class="bar h-[0.372rem] w-9 bg-midnight rounded"></div>
      <div class="bar h-[0.372rem] w-7 bg-midnight rounded"></div>
      <div class="bar h-[0.372rem] w-4 bg-midnight rounded"></div>
    </div>
  </div>
</header>

<nav id="nav-sm" class="z-[200] fixed w-dvw h-0 overflow-clip transition-all duration-500 lg:hidden">
  <div class="grid gap-2 w-full px-5 py-5 text-right bg-midnight text-white text-xl font-medium">
    <a href="/" data-nav-link="0" class="nav-sm active transition-all hover:text-aqua hover:-translate-x-4">Home</a>
    <hr class="border-aqua">
    <a href="/about" data-nav-link="1" class="nav-sm transition-all hover:text-aqua hover:-translate-x-4">About</a>
    <hr class="border-aqua">
    <a href="/bootcamp" data-nav-link="2" class="nav-sm transition-all hover:text-aqua hover:-translate-x-4">Bootcamp</a>
    <hr class="border-aqua">
    <a href="/contact" data-nav-link="3" class="nav-sm transition-all hover:text-aqua hover:-translate-x-4">Contact</a>
  </div>
</nav>

<%- include('./_countdown') %>