<div class="rounded-xl bg-white p-3 shadow flex items-center gap-5 <%= width %>">
  <div>
    <%- include('icons/mission') %>
  </div>

  <div>
    <p class="font-bold text-aqua">Our Mission</p>
    <p class="text-sm md:text-xs">
      Bridge the gap between learning and earning, empowering students and learners to acquire knowledge, develop skills
      and
      monetize their expertise.
    </p>
  </div>
</div>