<div class="rounded-xl bg-white p-3 shadow flex items-center gap-5 w-96">
  <div>
    <%- include('icons/vision') %>
  </div>

  <div>
    <p class="font-bold text-aqua">Our Vision</p>
    <p class="text-xs">
      To create a global community where knowledge sharing, skill development, and financial opportunities converge, fostering
      a brighter future for all.
    </p>
  </div>
</div>



