<div class="grid gap-5 md:grid-cols-3 xl:grid-cols-5">

  <div class="md:order-2 md:col-span-2 xl:col-span-3">
    <p class="text-aqua-600 font-semibold text-lg md:hidden">Who are we?</p>

    <div class="relative mt-2 h-[60dvh] md:mt-0 lg:h-[65dvh] lg:pr-20">
      <div class="rounded-2xl bg-midnight h-full w-full"></div>

      <div class="absolute hidden right-0 bottom-5 lg:grid lg:gap-4">
        <%- include('../_mission') %>
        <%- include('../_vision') %>
      </div>
    </div>
  </div>

  <div class="md:order-1 xl:col-span-2 grid place-content-center">
    <p class="hidden text-aqua font-semibold text-lg md:block">Who are we?</p>

    <h1 class="font-semibold text-4xl leading-[2.75rem] text-pretty md:text-balance">
      Our Dream is <br class="hidden xl:inline"> Students Learning and Earning
    </h1>

    <p class="mt-4 text-sm md:text-balance">
      Ofriend Edu is a dynamic online platform connecting individuals for collaborative learning, problem-solving, and earning
      opportunities. <br class="mb-1">
      <span class="md:hidden lg:inline">
        We facilitate idea sharing, skill development, and mutual support among like-minded learners, creating a
        vibrant community for growth, learning, and success.
      </span>
    </p>
  </div>
</div>

<div class="mt-10 flex flex-col items-center md:justify-center gap-4 md:flex-row lg:hidden">
  <%- include('../_mission') %>
  <%- include('../_vision') %>
</div>

