<div class="grid gap-5 md:grid-cols-3 xl:grid-cols-5">

  <div class="md:order-2 md:col-span-2 xl:col-span-3">
    <p class="text-aqua-600 font-semibold text-lg md:hidden">Who are we?</p>

    <div class="relative mt-2 h-[29rem] md:mt-0 lg:h-[68dvh] lg:pr-20">
      <div class="relative rounded-2xl bg-slate-300 h-full w-full max-w-[42rem] lg:ml-auto overflow-hidden">
        <div class="w-full h-full absolute top-0 left-0 bg-gradient-to-t from-midnight/80 via-aqua/30 to-transparent"></div>
        <img src="/assets/images/students-9.jpg" alt="students" class="w-full h-full object-cover">
      </div>

      <div class="absolute hidden right-0 bottom-5 lg:grid lg:gap-4">
        <div data-aos="fade-left" data-aos-delay="100">
          <%- include('../_mission') %>
        </div>

        <div data-aos="fade-left" data-aos-delay="200">
          <%- include('../_vision') %>
        </div>
      </div>
    </div>
  </div>

  <div class="md:order-1 xl:col-span-2 grid place-content-center">
    <p class="hidden text-aqua font-semibold text-lg md:block">Who are we?</p>

    <h1 class="font-semibold text-4xl leading-[2.75rem] text-pretty md:text-balance">
      Our Dream is <br class="hidden xl:inline"> Students Learning and Earning
    </h1>

    <p class="mt-4 text-sm bg-aqua-200 rounded-xl p-4 md:p-0 md:rounded-none md:bg-transparent md:text-balance lg:text-base">
      Ofriend Edu is an online platform that connects individuals for collaborative learning, problem-solving, and earning
      opportunities, fostering idea sharing, skill development, and community growth.
    </p>
  </div>
</div>

<div class="mt-10 flex flex-col items-center md:justify-center gap-4 md:flex-row lg:hidden">
  <%- include('../_mission') %>
  <%- include('../_vision') %>
</div>

