<div class="grid gap-5 lg:grid-cols-3">

  <div class="grid gap-2 lg:place-content-center">
    <h3 class="text-aqua text-xl font-semibold">Challenge Overview</h3>
    <p class="text-white text-sm">
      The education system is failing to prepare students due to gaps in access, quality, and relevance, leading to missing
      skills and a disconnect from real-world needs. This "Learning Experience Gap" needs urgent attention.
    </p>
  </div>

  <div class="grid gap-4 md:grid-cols-2 md:col-span-2">
    <div data-aos="zoom-in" data-aos-delay="50"
      class="bg-midnight-400/20 text-white z-10 rounded-2xl p-4 cursor-context-menu relative overflow-clip before:absolute before:content-[''] before:-z-[1] before:w-full before:h-full before:bg-purple-600 before:rounded-[4rem] before:top-0 before:right-0 before:translate-x-[80%] before:-translate-y-[70%] before:transition-all before:duration-500 before:ease hover:before:translate-x-0 hover:before:-translate-y-0 hover:before:rounded-2xl">
    
      <p class="text-3xl font-semibold lg:text-2xl">Accessibility</p>
    
      <p class="text-sm font-medium mt-3 leading-6">
        Exorbitant textbook and course fees hinder access to educators, perpetuating socio-economic disparities.
      </p>
    </div>

    <div data-aos="zoom-in" data-aos-delay="150"
      class="bg-midnight-400/20 text-white z-10 rounded-2xl p-4 cursor-context-menu relative overflow-clip before:absolute before:content-[''] before:-z-[1] before:w-full before:h-full before:bg-rose-500 before:rounded-[4rem] before:top-0 before:right-0 before:translate-x-[80%] before:-translate-y-[70%] before:transition-all before:duration-500 before:ease hover:before:translate-x-0 hover:before:-translate-y-0 hover:before:rounded-2xl">
    
      <p class="text-3xl font-semibold lg:text-2xl">Quality</p>
    
      <p class="text-sm font-medium mt-3 leading-6">
        Limited availability of quality educational materials and lack of opportunities for authors to share their work.
      </p>
    </div>


    <div data-aos="zoom-in" data-aos-delay="250"
      class="bg-midnight-400/20 text-white z-10 rounded-2xl p-4 cursor-context-menu relative overflow-clip before:absolute before:content-[''] before:-z-[1] before:w-full before:h-full before:bg-green-600 before:rounded-[4rem] before:top-0 before:right-0 before:translate-x-[80%] before:-translate-y-[70%] before:transition-all before:duration-500 before:ease hover:before:translate-x-0 hover:before:-translate-y-0 hover:before:rounded-2xl">
    
      <p class="text-3xl font-semibold lg:text-2xl">Training</p>
    
      <p class="text-sm font-medium mt-3 leading-6">
        Poor access to training and certification programs, exacerbating the gap between education and industry
        needs.
      </p>
    </div>


    <div data-aos="zoom-in" data-aos-delay="350"
      class="bg-midnight-400/20 text-white z-10 rounded-2xl p-4 cursor-context-menu relative overflow-clip before:absolute before:content-[''] before:-z-[1] before:w-full before:h-full before:bg-amber-500 before:rounded-[4rem] before:top-0 before:right-0 before:translate-x-[80%] before:-translate-y-[70%] before:transition-all before:duration-500 before:ease hover:before:translate-x-0 hover:before:-translate-y-0 hover:before:rounded-2xl">
    
      <p class="text-3xl font-semibold lg:text-2xl">Engagement</p>
    
      <p class="text-sm font-medium mt-3 leading-6">
        Traditional learning methods lack interactive experiences, leading to disengagement and a disruption in the learning process.
      </p>
    </div>
  </div>
</div>




