<div class="mt-5">
  <div class="grid lg:grid-cols-2 justify-between">
    <div>
      <h2 class="text-aqua text-xl font-semibold">Our Approach</h2>
      <h3 class="text-3xl font-semibold text-balance md:w-[85%] lg:w-[70%]">Access. Connect. Thrive.</h3>
    </div>

    <p class="bg-aqua-200 text-sm text-aqua-800 p-4 mt-3  z-[5] lg:mt-0 lg:place-self-end xl:max-w-[30rem]">
      Ofriend Edu: Unlocking potential through <span class="font-semibold">Access</span>, <span class="font-semibold">Connection</span>, and <span class="font-semibold">Opportunity</span>.
    </p>
  </div>

  <div class="mt-5 flex flex-col gap-5 lg:flex lg:flex-row lg:justify-between lg:items-center">

    <div data-aos="zoom-in" data-aos-delay="50"
      class="lg:order-2 md:col-span-3 lg:w-[70%] lg:max-w-[48rem] bg-slate-300 rounded-xl h-80 relative overflow-clip">
      <div class="absolute bg-gradient-to-t from-midnight/90 via-aqua/40 to-transparent w-full h-full">
      </div>
      <img src="/assets/images/students-8.jpg" alt="Happy black students studying"
        class="h-full w-full object-cover lg:object-top">
    </div>

    <div class="grid gap-3 md:col-span-2 lg:order-1">

      <div data-aos="zoom-in" data-aos-delay="50" class="flex items-start gap-3">
        <div class="w-12 flex-shrink-0 aspect-square bg-midnight rounded-full text-aqua grid place-content-center">
          <span class="pi pi-book" style="font-size: 1.3rem; font-weight: 300;"></span>
        </div>

        <div>
          <h4 class="font-bold">E-Library</h4>
          <p class="text-sm lg:max-w-[28rem]">
            A vast digital repository of quality educational materials, enabling students to access and share knowledge freely.
          </p>
        </div>
      </div>



      <div data-aos="zoom-in" data-aos-delay="150" class="flex items-start gap-3">
        <div class="w-12 flex-shrink-0 aspect-square bg-midnight rounded-full text-aqua grid place-content-center">
          <span class="pi pi-users" style="font-size: 1.3rem; font-weight: 300;"></span>
        </div>
      
        <div>
          <h4 class="font-bold">Community Forum</h4>
          <p class="text-sm lg:max-w-[28rem]">
            A vibrant space for learners to interact, share experiences, and connect with peers and mentors.
          </p>
        </div>
      </div>



      <div data-aos="zoom-in" data-aos-delay="250" class="flex items-start gap-3">
        <div class="w-12 flex-shrink-0 aspect-square bg-midnight rounded-full text-aqua grid place-content-center">
          <span class="pi pi-graduation-cap" style="font-size: 1.3rem; font-weight: 300;"></span>
        </div>
      
        <div>
          <h4 class="font-bold">Training and Certification</h4>
          <p class="text-sm lg:max-w-[28rem]">
            Structured programs with industry-recognized certification and internship opportunities, preparing students for the
            workforce.
          </p>
        </div>
      </div>



      <div data-aos="zoom-in" data-aos-delay="350" class="flex items-start gap-3">
        <div class="w-12 flex-shrink-0 aspect-square bg-midnight rounded-full text-aqua grid place-content-center">
          <span class="pi pi-dollar" style="font-size: 1.3rem; font-weight: 300;"></span>
        </div>
      
        <div>
          <h4 class="font-bold">Monetization Opportunities</h4>
          <p class="text-sm lg:max-w-[28rem]">
            Empowering students to sell their articles and research, fostering a culture of innovation and entrepreneurship.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>