<div class="w-full flex flex-col items-center justify-center relative">
  <h3 class="text-3xl font-semibold text-balance text-center mb-4">Who We Serve</h3>
  <img src="/assets/images/who-we-serve.png" alt="Who we serve" class="w-full max-w-[48rem] rounded-xl min-h-32">

  <div class="-translate-y-16 grid gap-4 md:gridi md:grid-cols-2 lg:grid-cols-4 lg:items-stretch lg:gap-2">

    <div data-aos="fade-up" data-aos-delay="50" class="bg-midnight text-white p-3 rounded-xl min-h-32">
      <p class="font-semibold text-center">Institutions</p>
      <p class="text-center text-sm mt-2">
        Access to innovative solutions, connections with other institutions and industry partners.
      </p>
    </div>


    <div data-aos="fade-up" data-aos-delay="150" class="bg-midnight text-white p-3 rounded-xl min-h-32">
      <p class="font-semibold text-center">Students</p>
      <p class="text-center text-sm mt-2">
        Access to relevant content, connections with peers and mentors, and opportunities to thrive academically and
        professional.
      </p>
    </div>
    
    
    <div data-aos="fade-up" data-aos-delay="250" class="bg-midnight text-white p-3 rounded-xl min-h-32">
      <p class="font-semibold text-center">Authors</p>
      <p class="text-center text-sm mt-2">
        Opportunity to share and market authored works and resources to a large body of eager learners.
      </p>
    </div>
    
    
    <div data-aos="fade-up" data-aos-delay="350" class="bg-midnight text-white p-3 rounded-xl min-h-32">
      <p class="font-semibold text-center">Content Creators</p>
      <p class="text-center text-sm mt-2">
        Connections with a wider audience and opportunities to thrive in terms of
        recognition and impact.
      </p>
    </div>
  </div>

  <div class="w-dvw h-full absolute -left-5 lg:-left-10 bottom-16 bg-gradient-to-t from-aqua-100 to-white -z-[1]"></div>
</div>



