<div class="w-full flex flex-col items-center justify-center">
  <h3 class="text-3xl font-semibold text-balance text-center mb-4">Who We Serve</h3>
  <img src="/assets/images/who-we-serve.png" alt="Who we serve" class="w-full max-w-[48rem] rounded-xl min-h-32">

  <div class="-translate-y-16 grid gap-4 md:gridi md:grid-cols-2 lg:grid-cols-4 lg:items-stretch lg:gap-2">

    <div class="bg-midnight text-white p-3 rounded-xl min-h-32">
      <p class="font-semibold text-center">Institutions</p>
      <p class="text-center text-sm mt-2">
        Access to innovative solutions, connections with other institutions and industry partners.
      </p>
    </div>


    <div class="bg-midnight text-white p-3 rounded-xl min-h-32">
      <p class="font-semibold text-center">Students</p>
      <p class="text-center text-sm mt-2">
        Access to relevant content, connections with peers and mentors, and opportunities to thrive academically and
        professional.
      </p>
    </div>
    
    
    <div class="bg-midnight text-white p-3 rounded-xl min-h-32">
      <p class="font-semibold text-center">Authors</p>
      <p class="text-center text-sm mt-2">
        Access to relevant content, connections with peers and mentors, and opportunities to thrive.
      </p>
    </div>
    
    
    <div class="bg-midnight text-white p-3 rounded-xl min-h-32">
      <p class="font-semibold text-center">Content Creators</p>
      <p class="text-center text-sm mt-2">
        connections with a wider audience and opportunities to thrive in terms of
        recognition and impact.
      </p>
    </div>
  </div>
</div>



